body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: auto;
  max-width: 1280px;
  padding: 24px;
  padding-top: 0;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 35px;
}

h3 {
  font-size: 24px;
}

img {
  vertical-align: middle;
}

a {
  color: #333;
  text-decoration: none;
  transition-duration: .1s;
}

p {
  color: #555;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: .01em;
}

strong {
  color: #202020;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: auto;
}

header nav {
  display: flex;
  list-style: none;
  margin-top: 0.63em;
}

header nav li a {
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  letter-spacing: -.5px;
  margin: 0 .5em;
  padding: .5em;
  text-transform: uppercase;
}

header nav li a:hover, header nav li a[aria-current="page"] {
  background: #ffdfdf;
}

main {
  margin: auto;
  max-width: 1024px;
  padding-top: 1rem;
}

.logo {
  font-size: 2em;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

#whoami {
  padding-top: 2rem;
}

#whoami img {
  border-radius: 50%;
  max-width: 235px;
}

#whoami .bio {
  margin-left: 3rem;
}

p a {
  color: #404040;
  border-bottom: 2px solid #ddd;
}

p a:hover {
  border-color: #404040;
}

.title {
  font-size: 1.7em;
  font-weight: 400;
  margin-top: 2em;
  margin-bottom: 1.8em;
  text-align: center;
}

.cta a {
  background: #000!important;
  background: linear-gradient(90deg, rgba(3,0,60,1) 0%, rgba(148,19,159,1) 35%, rgba(0,212,255,1) 100%)!important;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  color: #fff;
  margin-left: 1em;
  padding: .5em .7em;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: -.5em;
  margin-left: -.5em;
}

.projects+.projects {
  margin-top: 20px;
}

.project {
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  margin-top: .5em;
  margin-left: .5em;
  padding: 10px 20px 25px;
  flex-grow: 1;
  width: 25%;
}

.project:hover, .cta a:hover {
  box-shadow: 0 20px 25px -6px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .1);
}

.project .header {
  align-items: center;
  display: flex;
}

.project img {
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.project h3 {
  display: inline;
}

.project p {
  font-size: 16px;
}

.project small {
  color: #ff3434;
  background: linear-gradient(90deg,#e88b00,#ff1983);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.project.comingsoon i {
  font-size: 50px;
}

.project-icon {
  background: #1b1b1b;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-right: 10px;
  text-transform: capitalize;
  width: 40px;
  height: 40px;
}

.partners-logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.partners-logo div {
  padding: 1em;
}

.partners-logo img {
  transition-duration: .3s;
  height: 50px;
  max-width: 11rem;
}

.partner-google, .partner-amazon {
  height: 40px!important;
}

.section {
  margin-bottom: 5em;
}

.text-center {
  text-align: center;
}

.projects2 {
  margin-top: 3em;
}

.projects2 h4 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
}

.projects2 a {
  background: #fff;
  border: 1px solid #f1f1f1;
  border-top-width: 0;
  color: #666;
  letter-spacing: .01em;
  padding: 1em;
  display: block;
  font-size: 16px;
}

.projects2 div:first-child a {
  border-top-width: 1px;
}

.projects2 a:hover {
  background: #f9f9f9;
}

.projects2 div:first-child a {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.projects2 div:last-child a {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

footer {
  border-top: 1px solid #eee;
  font-size: 16px;
  margin: 100px auto;
  max-width: 1024px;
}

footer p {
  font-size: 16px;
}

footer .content {
  display: flex;
  align-items: baseline;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 50px 0;
}

footer .content div {
  width: 50%;
}

footer .content div:first-child {
  padding-right: 40px;
}

footer .content div+div {
  width: 30%;
}

footer .content li {
  list-style: none;
}

footer .content li+li a {
  display: block;
  margin-top: 10px;
}

footer .content li i {
  margin-right: 5px;
}

footer .copyright {
  font-size: 15px;
  text-align: center;
}

footer .thanks-to {
  color: #999;
  font-size: 13px;
  margin: auto;
  margin-top: 2rem;
  max-width: 36rem;
}

footer .thanks-to a {
  color: #777;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.see-more a {
  color: #6553ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-more a svg {
  margin-left: 6px;
}

.see-more a svg path {
  fill: #6553ff;
}

/** Blog */
.blogpage-header {
  text-align: center;
  margin: auto;
  max-width: 38rem;
}

.blogpage-header h1 {
  font-weight: 400;
  margin-top: 0;
}

.blogpage-content {
  margin: auto;
  max-width: 48rem;
  padding-top: 2rem;
}

.blog-list a .link {
  border-radius: 10px;
  padding: 2rem 1rem;
  transition-duration: .1s;
}

.blog-list a .link:hover {
  background: #f5f5f5;
}

.blog-list .excerpt {
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
}

.blog-list .meta {
  display: flex;
  margin-top: 1rem;
}

.blog-list .meta .profile-image img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.blog-list .meta .author {
  margin-left: .5rem;
}

.blog-list .meta .author p, .blog-list .meta .author time {
  color:#404040;
  font-size: 14px;
  margin: 0;
}

.blog-list+.blog-list {
  margin-top: 1rem;
}

.blog-list h2 {
  display: inline;
  font-size: 20px;
}

.blog-header h1 {
  color: #1b1b1b;
  font-weight: 400;
  display: inline;
}

.blog-content {
  letter-spacing: .01em;
  margin-top: 2rem;
}

.blog-content h3 {
  font-size: 26px;
  margin-top: 3rem;
}

.blog-content p {
  color: #333;
  font-size: 18px;
}

.blog-content img {
  border: 1px solid #eee;
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.blog-content figcaption {
  margin: 1em auto 0;
  color: #5c7078;
  font-size: 75%;
  line-height: 1.5em;
  text-align: center;
}

.blog-content pre {
  overflow-x: auto;
  margin: 1.5em 0 3em;
  padding: 20px;
  max-width: 100%;
  border: 1px solid #1b1b1b;
  color: #e5eff5;
  font-size: 15px;
  line-height: 1.5em;
  background: #0e1012;
  border-radius: 5px;
}

.blog-content code {
  padding: 0 5px 2px;
  font-size: 15px;
  line-height: 1em;
  font-weight: 400!important;
  background: #e5eff5;
  border-radius: 3px;
}

.blog-content pre code {
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
}

.blog-content blockquote {
  font-style: italic;
  margin: 0 0 1.5em;
  padding: 0 1.5em;
  border-left: 3px solid #3eb0ef;
}

.blog-content li {
  margin: .5em 0;
  padding-left: .3em;
  line-height: 1.6em;
}

.blog-header {
  text-align: center;
}

.blog-header .info {
  margin-bottom: 10px;
}

.blog-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.blog-footer a {
  background: #dcefff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 6px 8px;
}

.blog-footer .right {
  background: #dcd8ff;
}

.blog-footer .left span {
  margin-left: 5px;
}

.blog-footer .right span {
  margin-right: 5px;
}

.blog-footer svg {
  display: inline;
  width: 16px;
}

.blog-list .info span {
  font-size: 16px;
  font-weight: bold;
  background: #fff89f;
  border-radius: 6px;
  padding: 4px 6px;
}

.blog-list .info {
  margin-bottom: 1rem;
}

.blog-list .info span {
  font-size: 14px;
}

.blog-header .meta {
  color: #6b7280;
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.blog-header .meta .author {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.blog-header .meta img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.blog {
  margin-left: auto;
  margin-right: auto;
  max-width: 708px;
}

.blog-content figure {
  margin: .8em 0 2.3em;
}

.kg-bookmark-card {
    width: 100%;
}
.blog-content .kg-bookmark-container, .blog-content .kg-bookmark-container:hover {
  color: #15171a;
  text-decoration: none;
  box-shadow: 0 2px 5px -1px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.09);
}

.blog-content .kg-bookmark-container {
  display: flex;
  min-height: 148px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  border-radius: 3px;
}

.kg-bookmark-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.kg-bookmark-title {
  color: #303a3e;
  font-size: 1.8rem;
  line-height: 1.5em;
  font-weight: 600;
  transition: color .2s ease-in-out;
}

.kg-bookmark-description {
  display: -webkit-box;
  overflow-y: hidden;
  margin-top: 12px;
  max-height: 48px;
  color: #5c7078;
  font-size: 1.2rem;
  line-height: 1em;
  font-weight: 400;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kg-bookmark-metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 14px;
  color: #15171a;
  font-size: 1.5rem;
  font-weight: 500;
}

.blog-content .kg-bookmark-icon {
  margin-right: 8px;
  width: 22px;
  height: 22px;
}

.kg-bookmark-publisher {
  overflow: hidden;
  max-width: 240px;
  font-size: 1.2rem;
  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #5c7078;
  font-weight: bold;
}

.kg-bookmark-thumbnail {
  position: relative;
  min-width: 33%;
  max-height: 100%;
}

.kg-bookmark-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 3px 3px 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  width: 100%;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.connect a {
  color: #555;
}

#products {
  margin: auto;
  max-width: 38rem;
  padding-top: 2rem;
}

.upcoming .header h3 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.upcoming .header img {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: .75rem;
}

.upcoming .products a {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 2rem;
  transition-duration: .1s;
  margin-top: calc(.75rem * calc(1 - 0));
  margin-bottom: calc(.75rem * 0);
}

.upcoming .products a img, .upcoming .project-icon {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.upcoming .products a h4, .upcoming .products a p {
  margin: 0;
}

.upcoming .products a h4 {
  font-size: 20px;
}

.upcoming .products a p {
  font-size: 16px;
  margin-top: 4px;
}

.products-all {
  margin-top: 3rem;
}

.products-all h3 {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.products-all .projects2 {
  margin-top: 1.5rem;
}

.form {
  --fa-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--fa-ring-offset-shadow, 0 0 #0000), var(--fa-ring-shadow, 0 0 #0000), var(--fa-shadow);
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 40px;
}

.form h4 {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin: 0;
  margin-bottom: 20px;
}

.form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  padding: 12px 16px;
  width: 60%;
}

.form input[type=submit] {
  background-color: #7bf9ff;
  border: 0;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
}

.form input[type=submit]:hover, .form input[type=submit]:focus {
  background-color: #6df8ff;
}

.form div:first-child {
  margin-top: 0;
}

.form .ct {
  margin-top: 30px;
}

.radio, .checkbox {
  margin: 0.5rem;
}
.radio input[type=radio], .checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before, .checkbox input[type=checkbox] + .checkbox-label:before {
  content: "";
  background: #f4f4f4;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 10px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type=radio] + .radio-label:before {
  border-radius: 100%;
}
.checkbox input[type=checkbox] + .checkbox-label:before {
  border-radius: 4px;
}
.radio input[type=radio]:checked + .radio-label:before, .checkbox input[type=checkbox]:checked + .checkbox-label:before {
  background-color: #7bf9ff;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #7bf9ff;
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}

@media (max-width: 640px) {
  .cta {
    margin-top: 2rem;
    width: 100%;
  }

  .blog-content pre, .blog-content code {
    font-size: 14px;
  }

  .blog-footer {
    display: block;
  }

  .blog-footer a+a {
    margin-top: 1rem;
  }

  .form {
    box-shadow: none;
    border: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  header {
    display: block;
    margin-bottom: 3em;
    text-align: center;
  }

  header nav {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
  }

  header nav li a {
    margin: 0;
    padding: .5em;
  }

  .cta a {
    margin-left: 0;
  }

  main {
    padding-top: 0rem;
  }

  #whoami .bio {
    margin-top: 3rem;
    margin-left: 0;
  }

  .projects {
    margin-left: 0;
  }

  .project {
    margin: auto;
    width: 100%;
  }

  .project+.project {
    margin-left: auto;
    margin-top: 20px;
  }

  footer .content div {
    width: 100%!important;
  }
  
  footer .content div+div {
    margin-top: 40px;
  }

  footer .copyright {
    text-align: left;
  }

  footer .thanks-to {
    margin-left: 0;
  }

  .blog-content figure {
      margin: .2em 0 1.3em;
  }

  .blog-content .kg-bookmark-container {
    flex-direction: column;
  }

  .kg-bookmark-content {
    order: 2;
  }

  .kg-bookmark-thumbnail {
    order: 1;
    min-height: 160px;
    width: 100%;
  }

  .blog-content .kg-width-wide {
    margin-right: -3vw;
    margin-left: -3vw;
  }

  .blog-header h1 {
    font-size: 1.8em;
  }

  .blogpage-header p {
    font-size: 18px;
  }

  .blog-header .meta .author {
    margin-top: 1rem;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
}
